In [37]:
import numpy as np 
import pandas as pd
import matplotlib

In [38]:
# read data
ratings = pd.read_csv(r"C:\Users\hassa\OneDrive\Desktop\spiced_excercises\scikit-cilantro-student-code\week_10\data\ratings.csv")

In [39]:
# create pivot table from ratings
df = ratings.copy()
df.drop("timestamp", axis=1, inplace=True)
df = df.pivot(index="userId", columns="movieId", values="rating")

In [40]:
df.fillna(value=0, inplace=True)

In [48]:
# fill NaNs with mean of each movie
for movie in df.columns: 
    df[movie].fillna(round(df[movie].mean(), 1), inplace=True)

In [49]:
df.columns

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            193565, 193567, 193571, 193573, 193579, 193581, 193583, 193585,
            193587, 193609],
           dtype='int64', name='movieId', length=9724)

In [52]:
df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# save new filled ratings table
df.to_csv(r"C:\Users\hassa\OneDrive\Desktop\spiced_excercises\scikit-cilantro-student-code\week_10\data\filled_ratings.csv")