# **Create NMF-Model**

In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import pickle
from sklearn.decomposition import NMF
import warnings
warnings.filterwarnings("ignore")

In [19]:
ratings_fill = pd.read_csv(r"C:\Users\hassa\OneDrive\Desktop\spiced_excercises\scikit-cilantro-student-code\week_10\data\ratings.csv", index_col=0, header=0, low_memory=False)
ratings_fill.head()

        movieId  rating  timestamp
userId
1             1     4.0  964982703
1             3     4.0  964981247
1             6     4.0  964982224
1            47     5.0  964983815
1            50     5.0  964982931

In [5]:
movieId = [Id for Id in ratings_fill.columns]

In [6]:
nmf = NMF(n_components=100, max_iter=300)
nmf.fit(ratings_fill)

NMF(max_iter=300, n_components=100)

In [7]:
P = pd.DataFrame(nmf.transform(ratings_fill), index=ratings_fill.index)
Q = pd.DataFrame(nmf.components_, columns=movieId)

In [17]:
P.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
userId,,,,,,,,,,,,,,,,,,,,,
1,267193.975719,0.000000,0.000000,0.0,0.000000e+00,6.442054e-05,0.0,0.000000,1.001259e-06,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,267193.572223,0.000152,0.000484,0.0,4.075898e-05,1.596274e-04,0.0,0.000000,8.172697e-07,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,267193.842224,0.000452,0.001440,0.0,2.094189e-05,8.201637e-05,0.0,0.000048,5.342738e-07,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,267194.274897,0.003939,0.012560,0.0,1.047931e-07,4.103322e-07,0.0,0.001054,2.673458e-09,0.000481,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,267194.029544,0.004191,0.013362,0.0,1.113484e-07,4.359616e-07,0.0,0.001121,2.840344e-09,0.000512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
Q.head()

       movieId  rating    timestamp
0     0.000000     0.0  3611.543630
1  2382.168816     0.0  4769.139955
2  1639.026819     0.0   919.807143
3     0.000000     0.0     0.000000
4  2708.149484     0.0  2155.906246

In [8]:
ratings_rec = pd.DataFrame(np.dot(P, Q), index=ratings_fill.index, columns=movieId)

In [12]:
binary = pickle.dumps(nmf)
open("nmf_model.bin", "wb").write(binary)

3057

In [11]:
binary_Q = pickle.dumps(Q)
open("Q.bin", "wb").write(binary_Q)

3241

In [14]:
nmf_read = pickle.loads(binary)
nmf_read.reconstruction_err_

262450.921015848